/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 20, 2026, 10:14:27 AM
    Author     : enuksa3
*/
body {
    background-image: url("../images/fons.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 60px;
}


h1 {
    color: #2A5739;
    margin-left: 10px;
}

h2 {
    color: #54402F;
    margin-left: 10px;
}


p {
    margin-left: 10px;
    max-width: 800px;
}


img {
    margin: 10px;
    border-radius: 5px;
}

img:hover {
    opacity: 0.9;
}
